<footer class="footer">
  <div class="px-0 py-4 m-0 container-fluid">
    <div class="row h-100">
      <div class="col-md-7 p-0 m-0 text-start">
        <img class="p-0 m-0 my-4 logo" [src]="frame4" alt="logo" />
        <p class="p-0 m-0 mb-3 col-10">
          Have <a href="#">feedback</a> or <a href="#">suggestions</a>? Don’t
          hesitate to share them with us!
        </p>
        <p class="p-0 m-0 mb-3 col-10">
          Your contributions help us build a better website for everyone.
        </p>
        <p class="p-0 m-0 col-10">Copyright © 2024 Watch Free Movie</p>
      </div>
      <div class="col-md-5 container-input">
        <form>
          <div class="row">
            <div class="col-md-6 p-2">
              <input
                type="text"
                class="form-control form-control-lg input"
                placeholder="Full Name"
              />
            </div>
            <div class="col-md-6 p-2 ps-0">
              <input
                type="email"
                class="form-control form-control-lg input"
                placeholder="Email Address"
              />
            </div>
          </div>
          <div class="">
            <textarea
              class="form-control input p-2 mb-2"
              cols="5"
              rows="5"
              placeholder="Your message"
            ></textarea>
          </div>

          <div class="">
            <button type="submit" class="btn mb-2">
              <i class="fa-regular fa-paper-plane"></i> Send Feedback
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>
