.profile-header {
  background-image: url("/assets/images/background copy.png");
  background-size: cover;
  background-position: center;
  height: 200px;
  position: relative;
  color: white;
}

.profile-picture {
  width: 235px;
  height: 235px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  bottom: -100px;
  left: 100px;
  border: 10px solid var(--dark-background);
}
.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-name {
  position: absolute;
  top: 220px;
  left: 350px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}
.log-out {
  position: absolute;
  top: 220px;
  right: 5%;
}
.profile-camera img {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.log-out .btn-design {
  background-color: var(--dark-background);
  color: var(--white-color);
  font-size: 18px;
  font-weight: 600;
}
.log-out img {
  width: 25px;
  height: 30px;
}

/* PART BELOW */
.pagination {
  justify-content: center;
  margin-top: 5%;
}
.pagination .page-item .page-link {
  background-color: var(--dark-background);
  color: white;
  border: none;
}
.pagination .page-item .page-link:hover {
  background-color: var(--blue-highlight);
  color: var(--dark-background);
}

/* PLAYLIST */
.playlist-container {
  margin-top: 10%;
}

.container-row {
  margin-top: 5%;
}

.thumbnail {
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;
}
.thumbnail .rating {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 5px;

  font-size: 17px;
  font-weight: 700;
  color: var(--white-color);
  line-height: 17px;
}
.thumbnail img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.thumbnail .details {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 50px;
}
.details-left {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.details-left p {
  font-size: 17px;
  font-weight: 700;
  color: var(--white-color)b2;
  line-height: 17px;
}
.details-right {
  text-align: right;
  margin-top: 30px;
  columns: var(--white-color)b2;
}
.details-right p {
  font-size: 17px;
  font-weight: 700;
  color: var(--white-color)b2;
  line-height: 17px;
}
.thumbnail .details .complete {
  background-color: blue;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-fix {
  margin-right: 10px;
  margin-bottom: 5px;
  border-bottom: none;
}
.nav-tabs .nav-link {
  border: 1px solid var(--blue-highlight);
  border-radius: 5px 5px 0 0;
  background-color: transparent;
  color: white;
  border-bottom: none;
  transition: transform 0.2s, border-bottom-width 0.2s;
}
.nav-tabs .nav-link.active {
  border: 1px solid var(--blue-highlight);
  background-color: transparent;
  color: white;
  border-bottom: none;
}
.nav-tabs {
  border-bottom: 1px solid var(--blue-highlight);
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  transform: scale(1.1);
  border-bottom-width: 2px;
  background-color: var(--blue-highlight);
}
.nav-tabs .nav-link:active {
  transform: scale(1.3);
  border-bottom-width: 4px;
  background-color: var(--blue-highlight);
}
.nav-tabs .nav-link.active {
  background-color: var(--blue-highlight);
  color: white;
}
.col-md-3 {
  margin-bottom: 2%;
}
/*-----------------------------------LEFT MENU ------------------------------------------------------ */
.left-menu{
  background-color: rgba(22, 24, 30, 0.7);
}
.arrow-down {
  width: 12%;
  aspect-ratio: 1/1;
}
.left-menu {
  width: 14.5%;
  font-family: "Lato", sans-serif;
  transition: width 0.3s ease;
}
.left-menu.collapsed {
  width: 0; /* Thu nhỏ menu */
  overflow: hidden; /* Ẩn nội dung */
}

.full-width {
  width: 100%;
  margin: 0;
  padding: 0;
}

.left-menu.collapsed .section-title,
.left-menu.collapsed .nav-link span {
  display: none; /* Ẩn text khi menu bị thu nhỏ */
}

.left-menu.collapsed .nav-link img {
  margin: 0 auto;
}
/* SHOW ICON Styling */
.left-menu .icon {
  margin: 5% 0 0 6%;
  width: 30px;
  height: auto;
  cursor: pointer;
}

.toggle-icon .icon-out {
  position: absolute;
  top: 12%;
  left: 1%;
  cursor: pointer;
  width: 30px;
  z-index: 10;
}

.menu-section {
  padding: 10px 0px;
}
.section-title {
  padding: 10px 20px;
  font-size: 17.33px;
  text-transform: capitalize;
  color: #aeafb2;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-link {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: 17.33px;
  transition: background-color 0.2s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-link img {
  max-width: 1em;
  height: auto;
  padding: 0;
  margin: 0 10px 0 0;
}

.nav-link:hover {
  background-color: #343a40;
  border-radius: 5px;
}

.nav-link.active {
  color: #00cccc;
}

/*---------------EFFECTS LEFT MENU--------------*/
.nav-link {
  color: white; /* Màu mặc định */
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover {
  color: var(--dark-background); /* Màu chữ khi hover */
  background-color: var(--blue-highlight); /* Màu nền khi hover */
  border-radius: 5px; /* Thêm góc bo nếu cần */
}

.nav-link.active {
  color: var(--dark-background); /* Màu chữ khi active */
  background-color: var(--blue-highlight); /* Màu nền khi active */
  border-radius: 5px;
}