<div class="row whole">
  <!--Left menu-->
  <aside class="col-2 left-menu text-light" [class.collapsed]="isCollapsed">
    <div *ngIf="!isCollapsed" class="d-flex flex-column h-100">
      <img [src]="sideBarPath" alt="Collapse Menu" class="icon" (click)="toggleMenu()" />
      <!-- Menu Items -->
      <nav class="flex-grow-1">
        <div class="menu-section">
          <p class="section-title">Menu</p>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a
                [routerLink]="'/home'"
                class="nav-link text-light"
                routerLinkActive="active"
              >
                <img [src]="home" alt="home-icon" /> Home
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="'/sorting'"
                class="nav-link text-light"
                routerLinkActive="active"
              >
                <img [src]="sort" alt="home-icon" /> Sorting
              </a>
            </li>
          </ul>
        </div>
        <div class="menu-section">
          <p class="section-title">Library</p>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a
                [routerLink]="'/newest'"
                class="nav-link text-light"
                routerLinkActive="active"
              >
                <img [src]="recent" alt="home-icon" /> Recent
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="'/settings'"
                class="nav-link text-light"
                routerLinkActive="active"
              >
                <img [src]="playlists" alt="home-icon" /> Playlists
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="'/settings'"
                class="nav-link text-light"
                routerLinkActive="active"
              >
                <img [src]="watchlist" alt="home-icon" /> Watchlist
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="'/settings'"
                class="nav-link text-light"
                routerLinkActive="active"
              >
                <img [src]="continue" alt="home-icon" /> Continue
              </a>
            </li>
          </ul>
        </div>
        <div class="menu-section">
          <p class="section-title">General</p>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a
                [routerLink]="'/settings'"
                class="nav-link text-light"
                routerLinkActive="active"
              >
                <img [src]="settings" alt="home-icon" /> Settings
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link text-light" routerLinkActive="active">
                <img [src]="logout" alt="home-icon" /> Log Out
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </aside>
  <!-- Icon hiển thị khi menu thu nhỏ -->
  <div *ngIf="isCollapsed" class="toggle-icon" (click)="toggleMenu()">
    <img [src]="sideBarPath" alt="Collapse Menu" class="icon-out" />
  </div>

  <!--Main content-->
  <div class="col-6 container-fluid text-light" [class.full-width]="isCollapsed">
    <!-- Carousel -->
    <div id="demo" class="carousel slide mx-auto" data-bs-ride="carousel">
      <!-- Custom Indicators -->
      <div class="custom-indicators">
        <span class="dot active" data-bs-target="#demo" data-bs-slide-to="0"></span>
        <span class="dot" data-bs-target="#demo" data-bs-slide-to="1"></span>
        <span class="dot" data-bs-target="#demo" data-bs-slide-to="2"></span>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container-fluid filter"></div>
          <img [src]="image1" alt="Los Angeles" class="d-block image-fix" />
          <div class="name-film">The Crown</div>
          <div class="watch-list">
            <i class="fa-solid fa-plus"></i>
            Watchlist
          </div>
          <div [routerLink]="'/watch'" class="watch-now">Watch Now</div>
        </div>
        <div class="carousel-item">
          <div class="container-fluid filter"></div>

          <img [src]="image2" alt="Chicago" class="d-block image-fix" />
          <div class="name-film">The Crown</div>
          <div class="watch-list">
            <i class="fa-solid fa-plus"></i>
            Watchlist
          </div>
          <div [routerLink]="'/watch'" class="watch-now">Watch Now</div>
        </div>
        <div class="carousel-item">
          <div class="container-fluid filter"></div>

          <img [src]="image3" alt="New York" class="d-block image-fix" />
          <div class="name-film">The Crown</div>
          <div class="watch-list">
            <i class="fa-solid fa-plus"></i>
            Watchlist
          </div>
          <div [routerLink]="'/watch'" class="watch-now">Watch Now</div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
          <div class="left-btn">
            <span class="carousel-control-prev-icon"></span>
          </div>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
          <div class="right-btn">
            <span class="carousel-control-next-icon"></span>
          </div>
        </button>
      </div>
    </div>

    <!-- Movies -->
    <div class="container mt-5">
      <div class="title-bar">
        <div class="my-auto me-2" style="background-color: #00b9ae; width: 4px; height: 2em"></div>
        <div class="container-fluid d-flex justify-content-between label p-0 m-0 text-light">
          <h4>Movies</h4>
          <p>See more >></p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-4">
          <div [routerLink]="'/description'" class="thumbnail">
            <!-- <div class="rating">⭐ 7.8</div> -->
            <div class="rating">HD Vietsub</div>
            <img [src]="lokiPath" alt="Loki" />
            <div class="details d-block">
              <div class="details-top col-12 text-start">
                <h5>Loki</h5>
              </div>
              <div class="details-bottom d-flex justify-content-between">
                <p>2023</p>
                <p>Complete</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <!-- <div class="rating">⭐ 7.8</div> -->
            <div class="rating">HD Vietsub</div>
            <img [src]="lokiPath" alt="Loki" />
            <div class="details d-block">
              <div class="details-top col-12 text-start">
                <h5>Loki</h5>
              </div>
              <div class="details-bottom d-flex justify-content-between">
                <p>2023</p>
                <p>Complete</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <!-- <div class="rating">⭐ 7.8</div> -->
            <div class="rating">HD Vietsub</div>
            <img [src]="lokiPath" alt="Loki" />
            <div class="details d-block">
              <div class="details-top col-12 text-start">
                <h5>Loki</h5>
              </div>
              <div class="details-bottom d-flex justify-content-between">
                <p>2023</p>
                <p>Complete</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- TV series -->
    <div class="container mt-5 mb-5">
      <div class="title-bar">
        <div class="my-auto me-2" style="background-color: #00b9ae; width: 4px; height: 2em"></div>
        <div class="container-fluid d-flex justify-content-between label p-0 m-0 text-light">
          <h4>TV Series</h4>
          <p>See more >></p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail " [routerLink]="'/description'" >
            <!-- <div class="rating">⭐ 7.8</div> -->
            <div class="rating">HD Vietsub</div>
            <img [src]="lokiPath" alt="Loki" />
            <div class="details d-block">
              <div class="details-top col-12 text-start">
                <h5>Loki</h5>
              </div>
              <div class="details-bottom d-flex justify-content-between">
                <p>2023</p>
                <p>Complete</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <!-- <div class="rating">⭐ 7.8</div> -->
            <div class="rating">HD Vietsub</div>
            <img [src]="lokiPath" alt="Loki" />
            <div class="details d-block">
              <div class="details-top col-12 text-start">
                <h5>Loki</h5>
              </div>
              <div class="details-bottom d-flex justify-content-between">
                <p>2023</p>
                <p>Complete</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <!-- <div class="rating">⭐ 7.8</div> -->
            <div class="rating">HD Vietsub</div>
            <img [src]="lokiPath" alt="Loki" />
            <div class="details d-block">
              <div class="details-top col-12 text-start">
                <h5>Loki</h5>
              </div>
              <div class="details-bottom d-flex justify-content-between">
                <p>2023</p>
                <p>Complete</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Right menu-->
  <div class="col-4 p-4 right-menu bg-dark">
    <!-- Right Menu -->
    <!-- Genres Section -->
    <div class="part-genres">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="fw-bold text-light">Genres</h2>
        <div>
          <button class="btn btn-link text-white">
            <i class="bi bi-chevron-left"></i>
          </button>
          <button class="btn btn-link text-white">
            <i class="bi bi-chevron-right"></i>
          </button>
          <a [routerLink]="'/genres'" class="text-decoration-none text-white fw-bold">See More</a>
        </div>
      </div>
      <!-- Genres Grid -->
      <div class="row">
        <!-- Drama -->
        <div class="col-6 container-fix">
          <div class="card text-white w-100">
            <img [src]="genre" class="card-img larger-image" alt="Drama" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5 class="card-title fw-bold">Drama</h5>
            </div>
          </div>
        </div>
        <!-- Thriller -->
        <div class="col-6 container-fix">
          <div class="card text-white w-100">
            <img [src]="genre" class="card-img larger-image" alt="Drama" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5 class="card-title fw-bold">Thriller</h5>
            </div>
          </div>
        </div>
        <!-- Sitcom -->
        <div class="col-6 container-fix">
          <div class="card text-white w-100">
            <img [src]="genre" class="card-img larger-image" alt="Drama" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5 class="card-title fw-bold">Sitcom</h5>
            </div>
          </div>
        </div>
        <!-- Superhero -->
        <div class="col-6 container-fix">
          <div class="card text-white w-100">
            <img [src]="genre" class="card-img larger-image" alt="Drama" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5 class="card-title fw-bold">Superhero</h5>
            </div>
          </div>
        </div>
        <!-- Sitcom -->
        <div class="col-6 container-fix">
          <div class="card text-white w-100">
            <img [src]="genre" class="card-img larger-image" alt="Drama" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5 class="card-title fw-bold">Sitcom</h5>
            </div>
          </div>
        </div>
        <!-- Superhero -->
        <div class="col-6 container-fix">
          <div class="card text-white w-100">
            <img [src]="genre" class="card-img larger-image" alt="Drama" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5 class="card-title fw-bold">Superhero</h5>
            </div>
          </div>
        </div>
        <!-- Sitcom -->
        <div class="col-6 container-fix">
          <div class="card text-white w-100">
            <img [src]="genre" class="card-img larger-image" alt="Drama" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5 class="card-title fw-bold">Sitcom</h5>
            </div>
          </div>
        </div>
        <!-- Superhero -->
        <div class="col-6 container-fix">
          <div class="card text-white w-100">
            <img [src]="genre" class="card-img larger-image" alt="Drama" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5 class="card-title fw-bold">Superhero</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Newest -->
    <div class="part-newest">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="fw-bold text-light">Newest</h2>
        <div>
          <button class="btn btn-link text-white">
            <i class="bi bi-chevron-left"></i>
          </button>
          <button class="btn btn-link text-white">
            <i class="bi bi-chevron-right"></i>
          </button>
          <a [routerLink]="'/newest'" class="text-decoration-none text-white fw-bold">See More</a>
        </div>
      </div>

      <!-- Grid -->
      <div class="row">
        <!-- Drama -->

        <div class="col-6 container-fix mb-3">
          <div class="card text-white w-100 p-0 m-0 d-flex flex-column">
            <div class="card-img-wrapper">
              <img [src]="newest" class="card-img larger-image" alt="Drama" />
              <div
                class="card-img-overlay p-2 d-flex flex-column justify-content-end"
              >
                <h5 class="card-title card-newest">Rick and Morty</h5>
                <div
                  class="details d-flex align-items-center justify-content-between"
                >
                  <p class="card-newest text-start">49 Ep</p>
                  <p class="card-newest text-end">Sitcom</p>
                </div>
                <div class="card-buttons d-flex gap-2">
                  <button class="btn btn-outline-light col-3">
                    <span>+</span>
                  </button>
                  <button class="btn btn-primary btn-sm col-8">
                    <span>Watch</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Thriller -->
        <div class="col-6 container-fix mb-3">
          <div class="card text-white w-100 p-0 m-0 d-flex flex-column">
            <div class="card-img-wrapper">
              <img [src]="newest" class="card-img larger-image" alt="Drama" />
              <div
                class="card-img-overlay p-2 d-flex flex-column justify-content-end"
              >
                <h5 class="card-title card-newest">Rick and Morty</h5>
                <div
                  class="details d-flex align-items-center justify-content-between"
                >
                  <p class="card-newest text-start">49 Ep</p>
                  <p class="card-newest text-end">Sitcom</p>
                </div>
                <div class="card-buttons d-flex gap-2">
                  <button class="btn btn-outline-light col-3">
                    <span>+</span>
                  </button>
                  <button class="btn btn-primary btn-sm col-8">
                    <span>Watch</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Sitcom -->
        <div class="col-6 container-fix mb-3">
          <div class="card text-white w-100 p-0 m-0 d-flex flex-column">
            <div class="card-img-wrapper">
              <img [src]="newest" class="card-img larger-image" alt="Drama" />
              <div
                class="card-img-overlay p-2 d-flex flex-column justify-content-end"
              >
                <h5 class="card-title card-newest">Rick and Morty</h5>
                <div
                  class="details d-flex align-items-center justify-content-between"
                >
                  <p class="card-newest text-start">49 Ep</p>
                  <p class="card-newest text-end">Sitcom</p>
                </div>
                <div class="card-buttons d-flex gap-2">
                  <button class="btn btn-outline-light col-3">
                    <span>+</span>
                  </button>
                  <button class="btn btn-primary btn-sm col-8">
                    <span>Watch</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Superhero -->
        <div class="col-6 container-fix mb-3">
          <div class="card text-white w-100 p-0 m-0 d-flex flex-column">
            <div class="card-img-wrapper">
              <img [src]="newest" class="card-img larger-image" alt="Drama" />
              <div
                class="card-img-overlay p-2 d-flex flex-column justify-content-end"
              >
                <h5 class="card-title card-newest">Rick and Morty</h5>
                <div
                  class="details d-flex align-items-center justify-content-between"
                >
                  <p class="card-newest text-start">49 Ep</p>
                  <p class="card-newest text-end">Sitcom</p>
                </div>
                <div class="card-buttons d-flex gap-2">
                  <button class="btn btn-outline-light col-3">
                    <span>+</span>
                  </button>
                  <button class="btn btn-primary btn-sm col-8">
                    <span>Watch</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Continue Watching Section -->
    <div class="part-continue">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="fw-bold text-light">Continue</h2>
        <div>
          <button class="btn btn-link text-white">
            <i class="bi bi-chevron-left"></i>
          </button>
          <button class="btn btn-link text-white">
            <i class="bi bi-chevron-right"></i>
          </button>
          <a [routerLink]="'/settings'" class="text-decoration-none text-white fw-bold">See More</a>
        </div>
      </div>

      <!-- Grid -->
      <div class="row">
        <div class="col-6 container-fix mb-3">
          <div class="card d-flex w-100 text-light d-flex p-2 m-0">
            <div class="d-flex gap-2">
              <img style="opacity: 1" class="col-4" [src]="ctn" alt="Avatar" />
              <div class="details col-8">
                <h6 class="card-title d-block mb-1">WandaVision</h6>
                <p class="card-text small mb-2">1 Episode left</p>
                <div class="progress">
                  <div class="progress-bar" style="width: 50%" role="progressbar"></div>
                </div>
              </div>
            </div>
            <div class="card-buttons d-flex text-end p-0 mt-2 gap-2 justify-content-center">
              <button class="btn btn-outline-light col-3">
                <span>+</span>
              </button>
              <button [routerLink]="'/watch'" class="btn btn-primary btn-sm col-8">
                <span>Watch</span>
              </button>
            </div>
          </div>
        </div>

        <div class="col-6 container-fix mb-3">
          <div class="card d-flex w-100 text-light d-flex p-2 m-0">
            <div class="d-flex gap-2">
              <img style="opacity: 1" class="col-4" [src]="ctn" alt="Avatar" />
              <div class="details col-8">
                <h6 class="card-title d-block mb-1">WandaVision</h6>
                <p class="card-text small mb-2">1 Episode left</p>
                <div class="progress">
                  <div class="progress-bar" style="width: 50%" role="progressbar"></div>
                </div>
              </div>
            </div>
            <div class="card-buttons d-flex text-end p-0 mt-2 gap-2 justify-content-center">
              <button class="btn btn-outline-light col-3">
                <span>+</span>
              </button>
              <button [routerLink]="'/watch'" class="btn btn-primary btn-sm col-8">
                <span>Watch</span>
              </button>
            </div>
          </div>
        </div>

        <div class="col-6 container-fix mb-3">
          <div class="card d-flex w-100 text-light d-flex p-2 m-0">
            <div class="d-flex gap-2">
              <img style="opacity: 1" class="col-4" [src]="ctn" alt="Avatar" />
              <div class="details col-8">
                <h6 class="card-title d-block mb-1">WandaVision</h6>
                <p class="card-text small mb-2">1 Episode left</p>
                <div class="progress">
                  <div class="progress-bar" style="width: 50%" role="progressbar"></div>
                </div>
              </div>
            </div>
            <div class="card-buttons d-flex text-end p-0 mt-2 gap-2 justify-content-center">
              <button class="btn btn-outline-light col-3">
                <span>+</span>
              </button>
              <button [routerLink]="'/watch'" class="btn btn-primary btn-sm col-8">
                <span>Watch</span>
              </button>
            </div>
          </div>
        </div>

        <div class="col-6 container-fix mb-3">
          <div class="card d-flex w-100 text-light d-flex p-2 m-0">
            <div class="d-flex gap-2">
              <img style="opacity: 1" class="col-4" [src]="ctn" alt="Avatar" />
              <div class="details col-8">
                <h6 class="card-title d-block mb-1">WandaVision</h6>
                <p class="card-text small mb-2">1 Episode left</p>
                <div class="progress">
                  <div class="progress-bar" style="width: 50%" role="progressbar"></div>
                </div>
              </div>
            </div>
            <div class="card-buttons d-flex text-end p-0 mt-2 gap-2 justify-content-center">
              <button class="btn btn-outline-light col-3">
                <span>+</span>
              </button>
              <button [routerLink]="'/watch'" class="btn btn-primary btn-sm col-8">
                <span>Watch</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const carousel = document.querySelector("#demo");
  const dots = document.querySelectorAll(".dot");

  carousel.addEventListener("slid.bs.carousel", (event) => {
    dots.forEach((dot) => dot.classList.remove("active"));
    dots[event.to].classList.add("active");
  });
</script>