.carousel {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 50px;
}
.carousel-inner img {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
  border-radius: 10px;
}

.custom-indicators {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 10;
}
.custom-indicators .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
}
.dot.active {
  background-color: var(--blue-highlight);
}
.carousel-inner {
  position: relative;
}
.carousel-control-next,
.carousel-control-prev {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
}
.carousel-control-next {
  right: 20px;
}
.carousel-control-prev {
  left: 20px;
}
.left-btn,
.right-btn {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px;
  height: 30px;
}
.carousel-item {
  position: relative;
}
.filter {
  position: absolute;
  width: 150%;
  height: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
.name-film {
  position: absolute;
  top: 30px;
  left: 50px;
  color: white;
  font-size: 45px;
  font-weight: bold;
  z-index: 1;
}
.watch-list {
  width: 20%;
  height: 12%;
  position: absolute;
  bottom: 50px;
  left: 20px;

  color: white;
  font-size: 17px;
  font-weight: 800;
  background-color: rgba(249, 249, 249, 0.2);

  padding: 10px 20px;
  border-radius: 15px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.watch-list i {
  margin-right: 10px;
}
.watch-now {
  width: 20%;
  height: 12%;
  position: absolute;
  bottom: 50px;
  right: 20px;
  cursor: pointer;
  color: black;
  font-weight: 800;
  font-size: 17px;
  background-color: var(--blue-highlight);

  padding: 10px 20px;
  border-radius: 15px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* YOU MAY LIKE */
.thumbnail {
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;
}
.thumbnail .rating {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 5px;

  font-size: 17px;
  font-weight: 700;
  color: var(--white-color);
  line-height: 17px;
}
.thumbnail img {
  width: 100%;
  /* height: 400px; */
  aspect-ratio: 4/5;
  object-fit: cover;
  border-radius: 10px;
}
.thumbnail .details {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 50px;
}
.thumbnail .details .complete {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.details-top .details-top p {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: var(--white-color)b2;
  line-height: 17px;
}

.details-bottom p {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: var(--white-color)b2;
  line-height: 17px;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding-bottom: 0;
}
.title-bar h4,
.title-bar p {
  margin-bottom: 0;
}
.title-bar p {
  cursor: pointer;
}

hr {
  margin-top: 0;
}
.title-bar h4 {
  font-weight: 700;
}
/*-----------------------------------LEFT MENU ------------------------------------------------------ */
.left-menu {
  background-color: rgba(22, 24, 30, 0.7);
}
.arrow-down {
  width: 12%;
  aspect-ratio: 1/1;
}

.left-menu {
  width: 14.5%;
  font-family: "Lato", sans-serif;
  transition: width 0.3s ease;
}
.left-menu.collapsed {
  width: 0; /* Thu nhỏ menu */
  overflow: hidden; /* Ẩn nội dung */
}

.full-width {
  width: 60%; /* Mở rộng nội dung chính khi menu bị ẩn */
}

.left-menu.collapsed .section-title,
.left-menu.collapsed .nav-link span {
  display: none; /* Ẩn text khi menu bị thu nhỏ */
}

.left-menu.collapsed .nav-link img {
  margin: 0 auto;
}
/* SHOW ICON Styling */
.left-menu .icon {
  margin: 5% 0 0 6%;
  width: 30px;
  height: auto;
  cursor: pointer;
}

.toggle-icon .icon-out {
  position: absolute;
  top: 12%;
  left: 1%;
  cursor: pointer;
  width: 30px;
  z-index: 10;
}

.menu-section {
  padding: 10px 0px;
}
.section-title {
  padding: 10px 20px;
  font-size: 17.33px;
  text-transform: capitalize;
  color: #aeafb2;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-link {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: 17.33px;
  transition: background-color 0.2s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-link img {
  max-width: 1em;
  height: auto;
  padding: 0;
  margin: 0 10px 0 0;
}

.nav-link:hover {
  background-color: #343a40;
  border-radius: 5px;
}

.nav-link.active {
  color: var(--blue-highlight);
}

/*---------------EFFECTS LEFT MENU--------------*/
.nav-link {
  color: white; /* Màu mặc định */
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover {
  color:  var(--dark-background); /* Màu chữ khi hover */
  background-color: var(--blue-highlight);
  border-radius: 5px; /* Thêm góc bo nếu cần */
}

.nav-link.active {
  color: var(--dark-background); /* Màu chữ khi active */
  background-color: var(--blue-highlight);
  border-radius: 5px;
}

/*-----------------------------------RIGHT MENU ------------------------------------------------------ */

.card img {
  object-fit: cover;
}

.card-body h6 {
  font-size: 0.9rem;
}

.btn {
  font-size: 0.8rem;
}

a.text-primary {
  text-decoration: none;
}

a.text-primary:hover {
  text-decoration: underline;
}

/* user info */
.user-info {
  width: 100%;
  height: auto;
}

.user-info .btn {
  width: 20%;
  aspect-ratio: 3117 / 2800;
}

.user-info .me-3 img {
  width: 90%;
  height: auto;
}

.user-info .info {
  display: block;
}

.user-info .avatar {
  width: 20%;
  aspect-ratio: 1/1;
}

.user-info .avatar img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* continue */
.continue-cards {
  display: flex;
  gap: 20px;
}

.card {
  width: 50%;
  background-color: var(--dark-background);
  border-radius: 10px;
  border: 1px solid rgba(249, 249, 249, 0.1);
}

.card img {
  border-radius: 8px;
  flex: 0 0 30%;
  overflow: hidden;
  object-fit: cover;
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}

.card-text {
  font-size: 14px;
  color: #b3b3b3;
}

.progress {
  background-color: #3a3a4f;
  border-radius: 10px;
}

.progress-bar {
  background-color: #4caf50;
}

.card-buttons button {
  border-radius: 5px;
}

.card-buttons .btn-secondary {
  background-color: #555;
  border-color: #555;
}

.card-buttons .btn-primary {
  background-color: #00c9a7;
  border-color: #00c9a7;
}

/* genre */
.genres-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.genres-cards .card {
  position: relative;
  width: 90%;
}

.genres-cards .card img {
  object-fit: cover;
  height: 100%;
}

.genres-cards .card .details {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* newest */
.card {
  position: relative;
  background-color: #2c2c2c;
  color: white;
  border: none;
  margin: 10px;
}
.card-img-wrapper {
  position: relative;
  height: auto;
  display: block;
}
.card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Đẩy nội dung xuống dưới cùng */
  background: rgba(0, 0, 0, 0.5); /* Hiệu ứng mờ */
}
.card-newest {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
}
.card img {
  opacity: 0.5;
} 

.card-body {
  position: absolute;
  top: 0px;
}
.card-title {
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details .card-text {
  display: block;
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20%;
}

.details .card-newest {
  position: absolute;
  top: 30%;
  left: 10px;
  width: 90%;
  height: 100%;
  display: block;
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-buttons .btn {
  display: flex;
  padding: auto;
  z-index: 1;
  text-align: center;
  justify-content: center;
}
.btn-watch {
  background-color: #00bfa5;
  color: white;
}

.progress,
.progress-bar {
  height: 3px;
}

.progress .progress-bar {
  background-color: #00bfa5;
}
