<div class=" d-flex">
    <!--Left menu-->
  <aside class="col-2 left-menu  text-light">
    <div class="d-flex flex-column h-100">
      <!-- Logo Section -->
      <!-- <div class="logo my-4">
        <img src="res\Logo.png" alt="logo">
         
      </div> -->

      <!-- Menu Items -->
      <img class="arrow-down" [src]="show" alt="icon logo down" />
      <nav class="flex-grow-1">
        <div class="menu-section">
          <p class="section-title">Menu</p>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a [routerLink]="'/home'" class="nav-link text-light">
                <img [src]="home" alt="home-icon" /> Home
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="'/sorting'" class="nav-link text-light">
                <img [src]="sort" alt="home-icon" /> Sorting
              </a>
            </li>
          </ul>
        </div>

        <div class="menu-section">
          <p class="section-title">Library</p>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a [routerLink]="'/newest'" class="nav-link text-light">
                <img [src]="recent" alt="home-icon" /> Recent
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-light">
                <img [src]="playlists" alt="home-icon" /> Playlists
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-light">
                <img [src]="watchlist" alt="home-icon" /> Watchlist
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-light">
                <img [src]="continue" alt="home-icon" /> Continue
              </a>
            </li>
          </ul>
        </div>

        <div class="menu-section">
          <p class="section-title">General</p>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a [routerLink]="'/settings'" class="nav-link text-light">
                <img [src]="settings" alt="home-icon"/> Settings
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link text-light">
                <img [src]="logout" alt="home-icon" /> Log Out
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </aside>
    <div class="col-10 text-light ">
        <!-- Genres Section -->
        <div class="part-genres">
            <!-- <h2 class="fw-bold">Genres</h2> -->
            <div class="title-bar mt-3">
              <div
                class="my-auto me-2"
                style="background-color: #00b9ae; width: 4px; height: 2em"
              ></div>
              <div
                class="container-fluid d-flex justify-content-between label p-0 m-0 text-light"
              >
                <h4>Genres</h4>
                <!-- <p>See more >></p> -->
              </div>
            </div>
            <hr />
            <!-- Genres Grid -->
            <div class="row ">
              <!-- Drama -->
              <div class="col-6 container-fix mb-4 ">
                <div class="card text-white w-100 ">
                  <div class="container-fluid filter "></div>
                  <img [src]="genre" class="card-img larger-image" alt="Drama" />
                  <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title fw-bold">Drama</h5>
                  </div>
                </div>
              </div>
              <!-- Thriller -->
              <div class="col-6 container-fix mb-4">
                <div class="card text-white w-100">
                  <div class="container-fluid filter "></div>

                  <img [src]="genre" class="card-img larger-image" alt="Thriller" />
                  <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title fw-bold">Thriller</h5>
                  </div>
                </div>
              </div>
              <!-- Sitcom -->
              <div class="col-6 container-fix mb-4">
                <div class="card text-white w-100">
                  <div class="container-fluid filter "></div>

                  <img [src]="genre" class="card-img larger-image" alt="Sitcom" />
                  <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title fw-bold">Sitcom</h5>
                  </div>
                </div>
              </div>
              <!-- Superhero -->
              <div class="col-6 container-fix mb-4">
                <div class="card text-white w-100">
                  <div class="container-fluid filter "></div>

                  <img  [src]="genre" class="card-img larger-image" alt="Superhero" />
                  <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title fw-bold">Superhero</h5>
                  </div>
                </div>
              </div>
              <!-- Sitcom -->
              <div class="col-6 container-fix mb-4">
                <div class="card text-white w-100">
                  <div class="container-fluid filter "></div>

                  <img  [src]="genre" class="card-img larger-image" alt="Sitcom" />
                  <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title fw-bold">Sitcom</h5>
                  </div>
                </div>
              </div>
              <!-- Superhero -->
              <div class="col-6 container-fix mb-4">
                <div class="card text-white w-100">
                  <div class="container-fluid filter "></div>

                  <img  [src]="genre" class="card-img larger-image" alt="Superhero" />
                  <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title fw-bold">Superhero</h5>
                  </div>
                </div>
              </div>
              <!-- Sitcom -->
              <div class="col-6 container-fix mb-4">
                <div class="card text-white w-100">
                  <div class="container-fluid filter "></div>

                  <img  [src]="genre" class="card-img larger-image" alt="Sitcom" />
                  <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title fw-bold">Sitcom</h5>
                  </div>
                </div>
              </div>
              <!-- Superhero -->
              <div class="col-6 container-fix mb-4">
                <div class="card text-white w-100">
                  <div class="container-fluid filter "></div>

                  <img  [src]="genre" class="card-img larger-image" alt="Superhero" />
                  <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title fw-bold">Superhero</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
         
  
    </div>
</div>