<nav
  class="navbar navbar-expand-lg row px-2 py-2 align-items-center justify-content-between"
>
  <img [src]="logo" alt="Search" class="logo col-2 ms-1" />
  <div class="mb-2 mb-lg-0 col-4 mx-auto">
    <ul class="navbar-nav d-flex justify-content-between w-100">
      <li class="nav-item">
        <a class="nav-link active " [routerLink]="'/home'">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">TV Series</a>
      </li>
    </ul>
  </div>
  <div class="col-3 p-0 m-0">
    <form class="align-items-center search-bar">
      <div class="input-group">
        <span class="input-group-text bg-dark text-light border-0">
          <img [src]="search" alt="Search" width="16" height="16" />
        </span>
        <input
          type="text"
          class="form-control bg-dark text-light border-0"
          placeholder="Search"
        />
        <span class="input-group-text bg-dark text-light border-0">
          <img [src]="filter" alt="Filter" width="16" height="16" />
        </span>
      </div>
    </form>
  </div>

  <div class="col-3 d-flex p-0 m-0 justify-content-end">
    <div class="d-flex align-items-center justify-content-end account me-3">
      <button class="btn btn-secondary me-3">
        <i class="fa-regular fa-moon"></i>
      </button>

      <a
        class="nav-link me-2 dropdown-toggle text-light"
        href="#"
        id="navbarDarkDropdownMenuLink"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Samantha
      </a>
      <ul
        class="dropdown-menu custom-dropdown-menu dropdown-menu-dark"
        aria-labelledby="navbarDarkDropdownMenuLink"
      >
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another</a></li>
        <li><a class="dropdown-item" href="#">Something</a></li>
      </ul>
      <img [src]="avt" alt="avatar" />
    </div>
  </div>
</nav>
